@font-face {
    font-family: 'Jacobs Chronos';
    src: url('JacobsChronos-Bold.woff2') format('woff2'),
        url('JacobsChronos-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jacobs Chronos';
    src: url('JacobsChronos-Regular.woff2') format('woff2'),
        url('JacobsChronos-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

